.slider_container {
  align-self: center;
  justify-self: stretch;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;
  border: 1px solid #0000000A;
  border-radius: 4px;
  padding: 10px;
}

.slider_title {
  align-self: center;
  justify-self: stretch;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  color: #0000009A;
}

.slider_value {
  align-self: center;
  justify-self: end;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: #1677ff;
}

.slider {
  align-self: center;
  justify-self: stretch;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}